.btn {
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: #007Bff;
    padding: 5px 10px 5px 10px;
    margin-right: 5px;
}

#btn {
    text-decoration: none;
    color: rgb(255, 255, 255);

}

#btn:hover {
    color: #000000;
    background-color: #ffffff;
}
